<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Sobre nós | Linkfor</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Plataforma para conectar micro e pequenos empresários com estudantes universitários. Plataforma Linkfor.io" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="Osmir Custódio Mariano" />
	<link rel="icon"  href="assets/img/icon.png">


	<!-- Bootstrap core CSS -->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/agency.css">
	<link href="assets/css/demo.css" rel="stylesheet" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
	<!-- CSS Files -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="assets/css/agency.css" rel="stylesheet" />
	<link href="assets/css/now-ui-kit.css?v=1.1.0" rel="stylesheet" />

	<!-- Custom fonts for this template -->
	<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="./assets/css/agency.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/agency.min;cs">

	<style type="text/css">

	p{
		color: #3B3C3B;
		font-size: 18px;
	}

	h4{
		color: #426941;
		font-size: 24px;
		line-height: 12px;
	}

	.subheading{
		color: #3B3C3B;
		margin-bottom: 15px;
		font-weight: bolder;
		font-size: 16px;

	}

	.img-sobre{

		height: 250px;
		width: 400px;
		border-radius: 10px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	}

	.origem{
		margin-bottom: 100px;
		background-color: rgb(247,247,247);
		padding: 50px;
		border-radius: 10px;
	}

	.presente{

		margin-bottom: 100px;
		background-color: rgb(247,247,247);
		padding: 50px;
		border-radius: 10px;
	}

	.futuro{
		
		margin-bottom: 100px;
		background-color: rgb(247,247,247);
		padding: 50px;
		border-radius: 10px;
	}

	.time{

		margin-bottom: 100px;
		background-color: rgb(247,247,247);
		padding: 50px;
		border-radius: 10px;
	}


</style>

</head>

<!--Navigation-->
<body class="index-page sidebar-collapse">
	<nav class="navbar navbar-expand-lg fixed-top" style="background:#3B3C3B; color: white;">
		<div class="container">
			<div class="collapse navbar-collapse justify-content-end" id="navigation">
				<ul class="navbar-nav">
					<li class="nav-item" style="background-color: #426941; border-radius: 5px;">
						<a class="nav-link" href="index.html">
							<p style="font-weight: bolder; color: white; font-size: 12px;">Início</p>
						</a>
					</li>
				</li>
			</ul>
		</div>
	</div>
</nav>

<!-- Modificação -->
<section id="about" style="background-color: white;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12  text-center">
				<h3 class="section-heading" style="color: white;font-family: 'Assistant', sans-serif; font-size: 45px; background-color: #426941; border-radius: 10px;">Termos de uso</h3>
				<h3 style="color: #3B3C3B; font-size: 18px; margin-bottom: 60px; font-family: 'Assistant', sans-serif">Nossos termos de uso estão em modificação e logo estarão disponíveis <br> pedimos desculpas.</h3>
			</div>
	</div>



</section>




<!-- Custom scripts for this template -->
<script src="js/agency.min.js"></script>
<script src="https://www.w3schools.com/lib/w3.js"></script>

<script src="assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="assets/js/plugins/bootstrap-switch.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="assets/js/now-ui-kit.js?v=1.1.0" type="text/javascript"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
