*{
    margin: 0;
    padding: 0;
}
a:hover{
    color:#75B368;
    text-decoration:none;
}
body{
    width: 100% !important;
}

.hr-1 {

    position: absolute;
    left: 25%;
    right: 55.69%;
    bottom: 35%;
    border: 0.4px solid #D5D5D5;
    transform: rotate(90deg);

}

.hr-2 {
    position: absolute;
    left: 33.9%;
    right: 32.85%;
    bottom: 35%;
    border: 0.4px solid #D5D5D5;
    transform: rotate(90deg);
}

.hr-3 {

    position: absolute;
    left: 39.9%;
    right: 9.65%;
    top: 72.3%;
    bottom: 35%;

    border: 0.4px solid #D5D5D5;
    transform: rotate(90deg);

}


.button-index{

    width: 30%;
    min-width: 250px;
    height: 71px;
    background: #426941;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: white;
    line-height: 25px;
}

.button-anuncie{

    width: 300px;
    height: 60px;

    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    font-size: 1.125em;
}

.all-categories{

    margin-top: 80px;
}

.text-footer{

    color: white;
    font-size: 1.125em;
    font-weight: bolder;
}

.footer-column, a{

    font-size: 14px;
    line-height: 30px;
}
a{
    color: white;
}

.text-header,h3{


    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 2.625em;

    color: #3B3C3B;
    padding: 30% 8% 0.5px;

    text-align: left;

}

.text-sub-header{
    text-align: left;
    padding: 0 0 0 8%;
    color: #3B3C3B;


    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1.0em;

}

.page-header, h5{
    font-size: 1.0em;
}

.select-header{
    padding: 0 0 0 8%;

}

.select-options{
    background-color:white;
    border-color:white;
    font-size: 1.5em;
    border-radius: 10px;
    float: right;
    max-width: 90%;
    height: 60px;
}

.btn-header{

    width: 150px;
    height: 55px;
    margin-top: 20px!important;
    font-size: 1.5em;
    border: 1px solid #333;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    clear: both;
    background: #426941;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: white;
}

.btn-header-sm{

    align-items: center;
    width: 150px;
    height: 55px;
    margin-top: 20px!important;
    font-size: 1.5em;
    border: 1px solid #333;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    clear: both;
    background: #426941;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: white;
    margin-left: 25%!important;
}

.text-categories,h3{
    font-size: 1.5em;
    font-weight: bold;
    color: #3B3C3B;
    padding: 0px;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: 0px;
}

ul{
    list-style-type: none;
}

.__ig_wm__{
    display: none;
    margin: 0;
    padding: 0;
}

.text-header-sm{
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 2.0em;

    color: #3B3C3B;
    padding: 60% 8% 0.5px;

    text-align: left;



}